.logintab{
    width: 200px;
}
.log_in{
    display: flex;
    align-items: center;
    padding: 0px 7px;
}
.log_in>.MuiSvgIcon-root{
    margin-right: 10px;
    color: #2874f0;
}
.log_in>img{
    margin-right: 10px;
    
}
.log_in>.nc{
   margin-right: 17px;
   font-weight: 600;
}
.log_in>.su{
    color: #2874f0;
    font-weight: 550;

}
.log_in:hover{
    background-color: rgb(245,243,243);
    cursor: pointer;
}
.log_in>.su:hover{
    
    cursor: pointer;
    text-decoration: underline;
}